/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import 'tailwind.config.css';

html,
body {
  height: 100%;
  color-scheme: dark light;
  background-color: black;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-mdc-form-field-infix {
  align-content: center;
}
// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.form-field-overrides(
    (
      container-height: 40px,
      container-vertical-padding: 6px,
      outlined-input-text-color: #fff,
      outlined-label-text-color: #cbcbcb,
      outlined-hover-label-text-color: #fff,
      outlined-hover-outline-color: #fff
    )
  );
}
