/* You can add global styles to this file, and also import other style files */
@import 'tailwind.config.css';

html,
body {
	height: 100%;
	color-scheme: dark light;
	background-color: black;
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}
